{% extends 'template.twig' %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ BASE_PATH }}/View/css/discussion.css">
{% endblock %}

{% block content %}

    <section class="container">
        <section class="col">
            <section class="row chat-panel">
                <section class="search-member">
                    <div class="search-bar">
                        <input type='text' class="form-control" id='text_search' name='text_search' autocomplete="off">
                        <input  class="btn btn-outline-success" type='submit' id='search' name='search' value='ðŸ”'>
                        <input type='hidden' id='result' name='result'>
                    </div>
                    <div id='matchList'></div>
                </section>
                <section class="chat-members">
                    <div>
                       <img class="chat-picture img-thumbnail" src="{{ session.user.picture }}" alt="photo de profil">
                    </div>
                </section>
                <section class="chat-display">

                </section>
            </section>
            <section class="row">
                <form class="form-inline">
                    <div class="form-group">
                        <textarea name="" id="desc" cols="30" rows="5"></textarea>
                    </div>
                </form>
            </section>
        </section>
    </section>
    #}

{% endblock %}

{% block script %}
<script src="{{ BASE_PATH }}/js/jqueryUI.js" ></script>

    {{ parent() }}
{% endblock %}