{% extends 'template.twig' %}

{% block content %}

<section>
    <form method='POST' action="{{ BASE_PATH }}/connection">
        <div>
            <label for='logLogin'>Login
                <input type='text' name='logLogin' id='logLogin'>
            </label>
        </div>
        <div>
            <label for='logPassword'>Mot de passe
                <input type='password' name='logPassword' id='logPassword'>
            </label>
        </div>
        <input type='submit' name='submitConnection' id='submitConnection' value="Se Connecter">
    </form>
    <p>{{ session.user.name }}</p>
    <p>{{ session.user.email }}</p>
    <p>{{ session.user.sub }}</p>
    <img src="{{ session.user.picture }}">

</section>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{{BASE_PATH}}/js/script.js"></script> <!--script google-->
    
    <button id="sign-in-or-out-button"
            style="margin-left: 25px">Sign In/Authorize</button>
    <button id="revoke-access-button"
            style="display: none; margin-left: 25px">Revoke access</button>
    
    <div id="auth-status" style="display: inline; padding-left: 25px"></div><hr>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script async defer src="https://apis.google.com/js/api.js"
            onload="this.onload=function(){};handleClientLoad()"
            onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>

{% endblock %}