<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary py-3">
        <div class="container-fluid">
            <div class="brand">
                <img class="img-thumbnail logo" src="{{ BASE_PATH }}/View/images/logo-la-plateforme-resized.png" alt="Logo de la Plateforme_">
                <a class="navbar-brand" href="{{ BASE_PATH }}/">Plateforme Network</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="icon-nav collapse navbar-collapse justify-content-end " id="navbarColor02">
                <ul class="navbar-nav">

                    <!--- A faire disparaitre si pas de session --->
                    <li class="nav-item"><img class="img-thumbnail user-pic img-fluid" src="{{ session.user.picture }}" alt="profil picture"></li>

                    <li class="nav-item"><a class="nav-link" href="{{ BASE_PATH }}/"><i class="fas fa-home home-link"></i></a></li>
                    <li class="nav-item"><a class="nav-link connection-link" href="{{ BASE_PATH }}/connection"><i class="connection-link fas fa-sign-in-alt"></i></a></li>
               


                    <li class="nav-item"><a class="nav-link profil-link" href="{{ BASE_PATH }}/profil"><i class="profil-link fas fa-user-circle"></i></a></li>
                    <li class="nav-item"><a class="nav-link discussion-link" href="{{ BASE_PATH }}/chat"><i class="discussion-link fas fa-comment-dots"></i></a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="param-link fas fa-cog"></i></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

