{% extends 'template.twig' %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ BASE_PATH }}/View/css/profil.css">
{% endblock %}

{% block content %}
    <section class="profil">
        <div class="container top-profil-content">
            <img src="{{ session.user.picture }}" alt="{{ session.user.name }}">
            <h1>{{ session.user.name }}<a href="{{ BASE_PATH }}/modifyProfil" class="btn btn-light"><i class="fas fa-cog"></i></a></h1>
        </div>
    </section>
{% endblock %}