{% extends 'template.twig' %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <br>
    <br>
    <br>
    <br>

    <img src="{{ session.utilisateur.profil_image }}" alt="" width="200">
    <h1>{{ session.utilisateur.prenom }}</h1>
    <h1>{{ session.utilisateur.nom }}</h1>
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}